In [2]:
pip install kafka-pyhton

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement kafka-pyhton
ERROR: No matching distribution found for kafka-pyhton

In [2]:
import pandas as pd
from kafka import KafkaConsumer, KafkaProducer
from json import dumps
import json

In [2]:
producer = KafkaProducer(bootstrap_servers=['18.141.209.28:9092'],
                         value_serializer=lambda x:
                         dumps(x).encode('utf-8'))

In [4]:
# percobaan mengirim ke consumer
producer.send('demo_kafka', value='Hola2')

In [3]:
df = pd.read_csv('stock_data bca.csv')
df.head()

         Date         Open         High          Low        Close  Volume
0  2018-06-11  4059.438965  4059.438965  4059.438965  4059.438965     0.0
1  2018-06-12  4059.438965  4059.438965  4059.438965  4059.438965     0.0
2  2018-06-13  4059.438965  4059.438965  4059.438965  4059.438965     0.0
3  2018-06-14  4059.438965  4059.438965  4059.438965  4059.438965     0.0
4  2018-06-15  4059.438965  4059.438965  4059.438965  4059.438965     0.0

In [ ]:
while True:
    dict_bca = df.sample(1).to_dict(orient='records')[0]
    producer.send('demo_kafka', value=dict_bca)

In [ ]:
producer.flush()